body{
    width: 80%;
    margin: auto;
    background-color: rgb(236, 253, 253);
}

h1{
    font-family: kanit;
    font-size: 43px;
    color:red;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;

}

#restaurant-nav {
    font-family: kanit;
    font-size: 17px;

}

#restaurant a:link, a:visited{
    text-decoration: none;
    color: red;
}

#restaurant-nav a:hover{
    text-decoration: underline;
}

#map-wrap {
    height: 550px;
    width: 57%;
    margin: auto;
    border: 7px palevioletred solid;
    padding: 4px;
}

#map {
    height: 100%;
    width: 100%;
}

#rest-name{
    text-align: center;
    font-family: kanit;
    font-size: 39px;
}
#rest-name a:link{
    text-decoration: none;
    color: red
}
#rest-name a:hover{
    text-decoration: underline;
}

#phone-price{
    text-align: center;
    font-family: kanit;
    font-size: 27px;
    color: red
}

#hours{
    text-align: center;
    font-family: kanit;
    font-size: 22px;
    color: red
}

#notes{
    text-align: center;
    font-family: kanit;
    font-size: 22px;
    color: red
}

#map-wrap2 {
    height: 550px;
    width: 80%;
    margin: auto;
    border: 7px palevioletred solid;
    padding: 4px;
}

/* mobile friendly */
@media only screen and (max-width: 525px) {
    body{
        background-color: lightblue;
    }
    #content {
      display: flex;
      flex-direction: column;
    }
    #restaurant-nav{
        text-align:left;
    }
  }