body{
    width: 80%;
    margin: auto;
}

h1{
    font-family: kanit;
    color:red;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;

}

#restaurant-nav {
    font-family: kanit;

}

#restaurant a:link{
    text-decoration: none;
}

#map-wrap {
    height: 550px;
    width: 67%;
    margin: auto;
    border: 7px palevioletred solid;
    padding: 4px;
}

#map {
    height: 100%;
    width: 100%;
}

/* mobile friendly */
@media only screen and (max-width: 525px) {
    body{
        background-color: lightblue;
    }
    #content {
      display: flex;
      flex-direction: column;
    }
    #restaurant-nav{
        text-align: center;
    }
  }